# We don't need to share these, so we won't!
.packignore
instance.cfg
mmc-pack.json



/minecraft/cache
/minecraft/.mixin.out
/minecraft/.spyglass_astronomy
minecraft/command_history.txt
minecraft/.qmenu_opened.marker
/minecraft/data
/minecraft/datapacks
/minecraft/debug
/minecraft/downloads
/minecraft/defaultconfigs
/minecraft/dynamic-resource-pack-cache
/minecraft/ESM
minecraft/fabricloader.log
/minecraft/fieldguide_exports
/minecraft/logs
minecraft/options.txt
/minecraft/saves
/minecraft/screenshots
minecraft/TrashSlotSaveState.json
minecraft/usercache.json
minecraft/usernamecache.json
