# We don't need to share these, so we won't!
.packignore
instance.cfg
mmc-pack.json



/minecraft/cache
/minecraft/.mixin.out
/minecraft/.spyglass_astronomy
minecraft/command_history.txt
minecraft/.qmenu_opened.marker
/minecraft/data
/minecraft/datapacks
/minecraft/debug
/minecraft/downloads
/minecraft/defaultconfigs
/minecraft/dynamic-resource-pack-cache
/minecraft/ESM
minecraft/fabricloader.log
/minecraft/fieldguide_exports
/minecraft/logs
minecraft/options.txt
/minecraft/saves
/minecraft/screenshots
minecraft/TrashSlotSaveState.json
minecraft/usercache.json
minecraft/usernamecache.json
*.bak
minecraft/config/screenshot_viewer-client.toml
minecraft/config/sodium-fingerprint.json
minecraft/config/fml.toml
minecraft/config/fabric/indigo-renderer.properties
minecraft/config/iris.properties
/minecraft/config/roughlyenoughitems

minecraft/config/travelerstitles-neoforge-1_21.toml
minecraft/config/keymap-keys.json
minecraft/config/keymap.json
minecraft/config/textureeditor.json
minecraft/mods/.connector/textureeditor-1.4_mapped_moj_1.21.1.jar.input
/minecraft/fieldguide_cache

minecraft/config/multiplayerbosses-client.toml
minecraft/config/jade/jade.json
/minecraft/config/jade
minecraft/resourcepacks/.index/baby-animals-and-rabbit-model-backport.pw.toml
minecraft/resourcepacks/BabyAnimalBackportV2.0.zip
minecraft/config/structurify/structurify_backup_2026-05-04_20-43-27.json
minecraft/config/structurify/structurify_backup_2026-05-04_20-45-36.json
minecraft/config/structurify/structurify_backup_2026-05-04_20-47-56.json
minecraft/config/structurify/structurify_backup_2026-05-04_20-48-03.json
minecraft/config/structurify/structurify_backup_2026-05-04_20-48-56.json
/minecraft/config/structurify
minecraft/config/asynclocator.toml
minecraft/config/bountiful/errors.log
minecraft/config/bountiful/errors.log
/minecraft/config/WildfireGender
